

<div class="box">
   
         <div class="box-header with-border">
            
        <%= form_tag efforts_path, id: "client-site", class: "filter-form", method: 'get' do %>
      <div class="col-lg-3 col-md-4 col-sm-12" style="border-right: 1px solid #f4f4f4">
        <div class="form-group">
          <label>Website</label>
                     <select name="client" class="skip-empty form-control">
                      <option value=""> Show All </option>
                        <% Client.all.order(:name).each do |x| %>
                        <option value="<%= x.id %>" <%= "selected" if x.id == params[:client].to_i %>> <%= x.name %></option>
                        <% end %>
                     </select>
                
          </div>
      </div>

         <div class="col-lg-2 col-md-2 col-sm-12" style="border-right: 1px solid #f4f4f4">
            <div class="form-group">
               <label for="">Start Date</label>
               <input type="text" id="start_date" class="skip-empty form-control" size="30" name="start_date" value="<%= @start_date %>"/>
            </div>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-12" style="">
            <div class="form-group">
                  <label for="">End Date</label>
                  <input type="text" id="end_date" class="skip-empty form-control" size="30" name="end_date" value="<%= @end_date %>"/>
            </div>
         </div>



           <div class="col-lg-1 col-md-2 col-sm-12" style="border-right: 1px solid #f4f4f4">
              <div class="form-group">
                 <button type="submit" class="form-control btn btn-primary" style="margin-top: 25px"><i class="fa fa-search"> </i></button>
              </div>
           </div>


    <% end %>

          <div class="col-lg-2 col-md-2 col-sm-2 pull-right">
            <div class="form-group">
                  <div class="btn-group pull-right">
                     <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-top: 25px">
                     <i class="fa fa-bars fa-lg text-blue"></i></button>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <%= link_to new_effort_path(client: params[:client]), remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait..."} do %>
                           <i class="fa fa-plus text-green"></i> Add New Record
                           <% end %>   
                        </li>
                        <li class="divider"></li>
                        <li>
                           <%= link_to "/upload-effort-file" do %>
                           <i class="fa fa-upload text-blue"></i> Import Record
                           <% end %>   
                        </li>
                        <li class="divider"></li>
                        <li>

                          <% if (@effCount > 260) %>
                              <a data-toggle='tooltip' title="Can't generate pdf, please limit your query(max row should not exceed 260)!">
                                <i class="fa fa-file-pdf-o text-orange"> </i> Download as Pdf
                              </a>
                          <% elsif (@effCount <= 0) %>
                              <a data-toggle='tooltip' title="Can't generate pdf, no data found in your query!">
                                <i class="fa fa-file-pdf-o text-orange"> </i> Download as Pdf
                              </a>
                          <% else %>
                           <%= link_to efforts_path(client: params[:client], start_date: params[:start_date], end_date: params[:end_date], :format=>:pdf), data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait...", toggle: 'tooltip'}, title: "Total rows: #{@effCount}" do %> <i class="fa fa-file-pdf-o text-orange"> </i> Download as Pdf
                           <% end %>
                          <% end %>

                        </li>
                        <li class="divider"></li>
                        <li>
                           <%= link_to efforts_path(client: params[:client], start_date: params[:start_date], end_date: params[:end_date], :format=>:xlsx) do %> <i class="fa fa-file-excel-o text-green"> </i> Download as Excel
                           <% end %>    
                        </li>


                     </ul>
                  </div>
            </div>
          </div>

         </div>
         <!-- /.box-header -->
   
<div id="data-list">
   <div id="data-list-x">
      
   <div class="box-body">

<!--input type="text" class="form-control input-sm m-b-xs" id="filter"
   placeholder="Search in table"-->

      <table class="footable table table-stripped table-hover table-bordered is-breakable" data-page-size="" data-limit-navigation="" data-filter=#filter>
         <thead>
            <tr>
               <th width="120px">Date</th>
               <% unless params[:client] %>
                  <th>Website</th>
               <% end %>
               <th width="150px">Task</th>
               <th width="150px">Category</th>
               <th data-hide="phone,tablet" width="150px">Assigned User</th>
               <th width="200px" data-hide="phone,tablet">Notes</th>
               <th data-hide="phone,tablet" style="min-width: 150px">Status Url</th>
               <th width="300px" data-hide="phone,tablet">QA Feedback</th>
            </tr>
         </thead>
         <tbody>
            <% @effort.each do |effort| %>
            <tr class="box-tools" height="70px">
               <td width="120px">
                     <%= effort.date.strftime('%Y-%m-%d') if effort.date.present? %>

                     <div class="tools-hidden box-tools">
                     <%= link_to edit_effort_path(effort.id), remote: true, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> "}, class: "btn btn-box-tool"  do %>
                           <i class="fa fa-edit text-blue"> </i>
                     <% end %>
                        |
                     <%= link_to effort, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-box-tool", title: 'delete' do %>
                         <i class="fa fa-trash-o text-red"></i>
                     <% end %>
                     </div>
                  
               </td>

               <% unless params[:client] %>
                 <td>
                   <p style="min-width: 180px; max-width: 200px;  display: inline-block;"> 
                    <%= link_to effort.client.name, client_path(effort.client.id) if effort.client %>
                  </p>
                 </td>
               <% end %>

               <td width="150px">
                  
                  <% if effort.strategy  %>
                     <b><%= effort.strategy.code %></b>: 
                     <%= effort.strategy.description.humanize %>
                  <% end %>
                  

               </td>
               <td width="150px">
                  <% if effort.strategy %>
                      <% effort.strategy.offpage_categories.each do |cat| %> 
                          <i class="fa fa-th-large text-primary"></i>
                          <%= cat.category_name %><hr class="margin-5">
                      <% end %>
                    <% end %>
               </td>
               <td width="150px">
                  <%= link_to "#{(effort.user.firstname.humanize  + ' ' + effort.user.lastname.humanize)}", user_path(effort.user_id), target: :_blank if effort.user_id.present? %>
               </td>
               <td width="200px">
                  <%= effort.notes.humanize rescue "" %>
               </td>
               <td>
                  <% if effort.status_url.present? %>
                    <% effort.status_url.each_line do |line| %>
                        <% if is_valid_url(line.strip) %>    <%# .strip here removed trailing space %>
                           <%= link_to line, target: '_blank' do %>
                              <p style="word-break: break-all;"><%= line %></p>
                           <% end %>  
                        <% else %>
                           <p style="word-break: break-all;"><%= line.humanize %></p>
                        <% end %>
                     <% end %>
                  <% end %>
               </td>
               <td>
                     <%= link_to effort_qa_comments_path(effort_id: effort.id), data: { toggle: 'tooltip'}, title: 'View Comments' do %> 
                        <i class="fa fa-comments fa-fw"> </i>
                     <% end %>
                     <%= simple_format(effort.qa, style: "display: block; max-width: 180px") rescue "" %>
                  <% if effort.qa.nil? %>
                     <%= simple_format(effort.qa_comments.first.comment, style: "display: block; max-width: 180px") rescue "" %>
                  <% end %>
               </td>
            </tr>
            <% end %>
         </tbody>
         <tfoot>
            <tr>
               <td colspan="8">
                  <ul class="pagination pull-right">
                     <%= paginate @effort %>
                     <%= page_entries_info @effort %>
                  </ul>
               </td>
            </tr>
         </tfoot>
         
      </table>

   </div>
 
</div>
</div>
   <!-- /.box-body -->
</div>


 <script>

function effectLoad(){
        $(document).ready(function() {
            $('.footable').footable({ paginate:false });
        });
}

effectLoad();

// https://bootstrap-datepicker.readthedocs.io/en/latest/
$(document).ready(function(){
   
   
      $('#start_date, #end_date').datepicker({
          format: "yyyy-mm-dd"
      });
//----------------------------------------------

    $("form.filter-form").submit(function(){
       
       // Change 'form' to class or ID of your specific form
        $(this).find(".skip-empty").filter(function(){ return !this.value; }).attr("disabled", "disabled");
        return true; // ensure form still submits
    });
        
    // Un-disable form fields when page loads, in case they click back after submission
    $( "form.filter-form" ).find( ".skip-empty" ).prop( "disabled", false );
});
  </script>


